{
  "python.interpreter": "./.venv/bin/python",
  "python.defaultInterpreterPath": "./.venv/bin/python",
  "files.eol": "\n",
  "files.insertFinalNewline": true,
  "files.trimTrailingWhitespace": true,
  "python.linting.enabled": true,
  "python.linting.pylintEnabled": true,
  "python.formatting.provider": "black",
  "python.terminal.activateEnvironment": true,
  "terminal.integrated.defaultProfile.linux": "bash"
}